@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.menu {
  padding: 103px;
  padding-top: 0;
}

.header {
  font-family: Roboto;
  font-size: 57px;
  margin-bottom: 0px;
}

.description {
  font-size: 20px;
  font-weight: 400;
  margin-top: 8px;
}

.buttonLevel::before {
  content: '⬥';
  size: 20px;
  padding-right: 20px;
  color: #d62b2e;
  visibility: hidden;
}

.buttonLevel.active::before {
  visibility: visible;
}

.buttonsLevel {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonLevel {
  font-size: 50px;
  line-height: 59px;
  margin-top: 20px;
  letter-spacing: 1px;
  background: none;
  border: none;
  cursor: pointer;
}

.startButton {
  background-color: #d62b2e;
  border: 0;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  width: 352px;
  height: 95px;
  border-radius: 7px;
  letter-spacing: 1px;
  font-size: 32px;
  line-height: 38px;
  margin-top: 110px;
  cursor: pointer;
}

.menuCards {
  position: absolute;
  display: flex;
  right: 200px;
}

.menuCard {
  background-image: url('../../img/flippedCard.png');
  margin-right: -30px;
  width: 218px;
  height: 341px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  transform: rotate(11.9deg);
}

.moreRotated {
  margin-top: 40px;
  transform: rotate(39.26deg);
}

@media (max-width: 1024px) {
  .menuCard {
    width: 183px;
    height: 286px;
    background-size: cover;
  }
  .moreRotated {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 30px;
    margin-top: 50px;
  }
  .description {
    font-size: 15px;
  }

  .menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .menuCards {
    display: none;
  }

  .buttonsLevel {
    margin-right: 100px;
    font-size: 30px;
  }
  .buttonLevel {
    width: 352px;
    height: 95px;
    font-size: 30px;
    height: 40px;
  }

  .startButton {
    font-size: 30px;
    width: 282px;
    height: 76px;
  }
}

@media (max-width: 640px) {
  .menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header {
    margin-top: 100px;
    font-size: 25px;
  }
  .buttonsLevel {
    margin-left: 30px;
  }

  .buttonLevel {
    font-size: 25px;
    margin-top: 0px;
    height: 40px;
  }

  .startButton {
    width: 246px;
    height: 66px;
    margin-top: 60px;
  }

  .description {
    font-size: 14px;
    margin-top: 20px;
  }

  .menuCards {
    visibility: hidden;
  }
  .startButton {
    width: 247px;
    height: 66px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 90px;
  }
}
