.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.header {
  font-size: 57px;
}

.description {
  font-size: 20px;
  font-weight: 400;
}

.buttonsLevel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonLevel::before {
  content: '⬥';
  size: 20px;
  padding-right: 20px;
  color: #d62b2e;
  visibility: hidden;
}

.buttonLevel.active::before {
  visibility: visible;
}

.buttonLevel {
  font-size: 50px;
  line-height: 59px;
  margin-top: 20px;
  letter-spacing: 1px;
  background: none;
  border: none;
  cursor: pointer;
}

.startButton {
  background-color: #d62b2e;
  border: 0;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  letter-spacing: 1px;
  font-size: 32px;
  line-height: 38px;
  padding: 26px 80px;
  cursor: pointer;
}

.menuCardsContainer {
  position: absolute;
  display: flex;
  margin-left: 400px;
  margin-top: 200px;
}

.menuCard {
  background-image: url('../../img/flippedCard.png');
  margin-right: -30px;
  width: 218px;
  height: 341px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  transform: rotate(11.9deg);
}

.moreRotated {
  margin-top: 40px;
  transform: rotate(39.26deg);
}

@media (max-width: 768px) {
  .menu {
    text-align: center;
    align-items: center;
  }

  .header {
    font-size: 32px;
  }

  .description {
    font-size: 15px;
  }

  .buttonLevel {
    font-size: 32px;
  }

  .startButtonContainer {
    width: 100%;
    display: flex;
  }

  .startButton {
    font-size: 30px;
    padding: 15px 20px;
    flex: 1;
  }

  .menuCardsContainer {
    display: none;
  }
}
