.cards {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: auto;
}

.cards.-hard {
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 640px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .cards.-easy {
    grid-gap: 20px;
  }

  .cards.-medium {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 425px) {
  .cards.-hard {
    grid-template-columns: repeat(2, 1fr);
  }
}
